<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script type="text/javascript" src="/js/function.js"></script>
    <title>Board</title>
</head>
<body>
    <header>
        <h1>Billion Dollar Movement</h1>
        <h3>New Socialism for 21th Century</h3>
    </header>