body{
    width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.aside30{
    width: 25%;
    float: left;
    padding: 10px;
    margin:10px;
}

.section70{
    width: 65%;
    float: left;
    padding: 10px;
    margin:10px;
}

label{
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

input{
    margin-bottom: 10px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    padding:10px;
    margin:10px;
}

a{
    display: block;
    text-decoration: none;
}

td, th{
    border: 2px solid black;
    padding: 10px;
}

.clear{
    clear: both;
}

.container{
    width: 900px;
}

.container .content{
    padding: 10px;
    border: 2px solid black;
}

#title{
    width: 715px;
    height: 25px;
}

#content{
    width: 715px;
    height: 525px;
}
